<!--<manifest xmlns:android="http://schemas.android.com/apk/res/android"-->
<!--    xmlns:tools="http://schemas.android.com/tools">-->

<!--    &lt;!&ndash; INTERNET &ndash;&gt;-->
<!--    <uses-permission android:name="android.permission.INTERNET"/>-->

<!--    &lt;!&ndash; LOCATION &ndash;&gt;-->
<!--    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->
<!--    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->
<!--    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />-->
<!--    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />-->

<!--    &lt;!&ndash; NFC (OPTIONAL) &ndash;&gt;-->
<!--    <uses-permission android:name="android.permission.NFC"/>-->

<!--    &lt;!&ndash; NFC FEATURE (IMPORTANT: OPTIONAL) &ndash;&gt;-->
<!--    <uses-feature-->
<!--        android:name="android.hardware.nfc"-->
<!--        android:required="false"/>-->

<!--    <uses-feature-->
<!--        android:name="android.hardware.nfc.hce"-->
<!--        android:required="false"-->
<!--        tools:replace="android:required"/>-->

<!--    &lt;!&ndash; STORAGE &ndash;&gt;-->
<!--    <uses-permission-->
<!--        android:name="android.permission.READ_EXTERNAL_STORAGE"-->
<!--        android:maxSdkVersion="32" />-->

<!--    <application-->
<!--        android:allowBackup="false"-->
<!--        android:label="Dr. Ali Therapy"-->
<!--        android:name="${applicationName}"-->
<!--        android:icon="@mipmap/dr_ali_icon">-->

<!--        <activity-->
<!--            android:name=".MainActivity"-->
<!--            android:exported="true"-->
<!--            android:launchMode="singleTop"-->
<!--            android:taskAffinity=""-->
<!--            android:theme="@style/LaunchTheme"-->
<!--            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"-->
<!--            android:hardwareAccelerated="true"-->
<!--            android:windowSoftInputMode="adjustResize">-->

<!--            <meta-data-->
<!--                android:name="io.flutter.embedding.android.NormalTheme"-->
<!--                android:resource="@style/NormalTheme" />-->

<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN"/>-->
<!--                <category android:name="android.intent.category.LAUNCHER"/>-->
<!--            </intent-filter>-->
<!--        </activity>-->

<!--        &lt;!&ndash; Flutter embedding &ndash;&gt;-->
<!--        <meta-data-->
<!--            android:name="flutterEmbedding"-->
<!--            android:value="2" />-->

<!--        &lt;!&ndash; Google Maps API &ndash;&gt;-->
<!--        <meta-data-->
<!--            android:name="com.google.android.geo.API_KEY"-->
<!--            android:value="AIzaSyDRBRBNInrOt9pKz-ANgHZXh7PupAv2KHQ"/>-->

<!--        &lt;!&ndash; NFC HCE SERVICE (kept but NOT forcing requirement) &ndash;&gt;-->
<!--        <service-->
<!--            android:name="com.hce_flutter.MyHostApduService"-->
<!--            android:exported="true"-->
<!--            android:permission="android.permission.BIND_NFC_SERVICE">-->

<!--            <intent-filter>-->
<!--                <action android:name="android.nfc.cardemulation.action.HOST_APDU_SERVICE"/>-->
<!--            </intent-filter>-->

<!--            <meta-data-->
<!--                android:name="android.nfc.cardemulation.host_apdu_service"-->
<!--                android:resource="@xml/apduservice"/>-->
<!--        </service>-->

<!--    </application>-->

<!--    &lt;!&ndash; Flutter text processing &ndash;&gt;-->
<!--    <queries>-->
<!--        <intent>-->
<!--            <action android:name="android.intent.action.PROCESS_TEXT"/>-->
<!--            <data android:mimeType="text/plain"/>-->
<!--        </intent>-->
<!--    </queries>-->

<!--</manifest>-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- INTERNET -->
    <uses-permission android:name="android.permission.INTERNET"/>



    <!-- NFC (OPTIONAL) -->
    <uses-permission android:name="android.permission.NFC"/>

    <!-- NFC FEATURE - OPTIONAL (sab devices pe install hogi) -->
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false"/>

    <uses-feature
        android:name="android.hardware.nfc.hce"
        android:required="false"
        tools:replace="android:required"/>

    <!-- STORAGE -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="false"
        android:label="Dr. Ali Therapy"
        android:name="${applicationName}"
        android:icon="@mipmap/dr_ali_icon">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Flutter embedding -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <!-- NFC HCE SERVICE - disabled by default, enabled via code on NFC devices -->
        <service
            android:name="com.hce_flutter.MyHostApduService"
            android:exported="true"
            android:enabled="false"
            android:permission="android.permission.BIND_NFC_SERVICE"
            tools:replace="android:enabled">

            <intent-filter>
                <action android:name="android.nfc.cardemulation.action.HOST_APDU_SERVICE"/>
            </intent-filter>

            <meta-data
                android:name="android.nfc.cardemulation.host_apdu_service"
                android:resource="@xml/apduservice"/>
        </service>

    </application>

    <!-- Flutter text processing -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>

</manifest>